<div class="row">
  <div
    class="col-lg-2 col-md-3 col-sm-4 col-6 p-3 h-100"
    *ngFor="let socialNetwork of socialNetworks"
  >
    <a href="{{ socialNetwork.link }}" target="_blank">
      <div class="card rounded-5 bg-white">
        <img
          src="{{ socialNetwork.image }}"
          class="card-img-top p-3 img-fluid"
        />

        <div class="card-body text-center">
          <div class="bg-primary rounded-5 text-truncate img-fluid">
            {{ socialNetwork.name }}
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
