<div @fade class="container vh-100">
  <div class="row align-items-center text-center h-50">
    <div class="col-12 h-75">
      <img
        src="{{ profileImgPath }}"
        alt="Imagem de perfil"
        class="img-fluid img-thumbnail rounded-circle h-100"
      />
    </div>
  </div>

  <div class="row align-items-center text-center h-25">
    <div class="col-12">
      <div>Olá, meu nome é Eduardo Córdova</div>
      <div class="vr"></div>
      <div>
        Sou Desenvolvedor Full Stack e aqui você encontra todas as minhas redes
        sociais
      </div>
      <div class="vr"></div>
      <div>Fique a vontade para entrar em contato!</div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="accordion" id="accordion">
        <div
          *ngFor="let category of categories | keyvalue"
          class="accordion-item"
        >
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed bg-black text-white"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#' + category.key"
              aria-expanded="false"
              [attr.aria-controls]="category.key"
            >
              {{ category.key }}
            </button>
          </h2>
          <div
            id="{{ category.key }}"
            class="accordion-collapse collapse"
            data-bs-parent="#accordion"
          >
            <div class="accordion-body bg-black">
              <card
                *ngIf="category.key === categories.Development"
                [socialNetworks]="socialNetworksDevelopments"
              ></card>
              <card
                *ngIf="category.key === categories.Personal"
                [socialNetworks]="socialNetworksPersonals"
              ></card>
              <card
                *ngIf="category.key === categories.Professional"
                [socialNetworks]="socialNetworksProfessionals"
              ></card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
