<div @fade class="container vh-100">
  <div class="row align-items-center justify-content-center mt-2">
    <div
      *ngFor="let language of languages | keyvalue"
      class="col-lg-1 col-md-2 col-sm-2 col-3"
    >
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="setLanguage(language.value)"
      >
        <img [src]="setCountryFlag(language.value)" class="img-fluid" />
      </button>
    </div>
  </div>

  <div class="row align-items-center text-center h-50">
    <div class="col-12 h-75">
      <img
        src="{{ profileImgPath }}"
        alt="Imagem de perfil"
        class="img-fluid img-thumbnail rounded-top-pill position-relative z-3 h-100"
      />
    </div>
  </div>

  <div class="row align-items-center text-center">
    <div class="col-12">
      <div>{{ "HelloMyNameIs" | translate }} Eduardo Córdova</div>

      <div class="vr"></div>

      <div>
        {{
          "ImAFullStackDeveloperAndHereYouCanFindAllMySocialNetworks"
            | translate
        }}
      </div>

      <div class="vr"></div>

      <div>{{ "FeelFreeToCallMe!" | translate }}</div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div *ngFor="let category of categories | keyvalue">
        <div class="p-4">
          {{ category.value | translate }}

          <card
            *ngIf="category.value === categories.Development"
            [socialNetworks]="socialNetworksDevelopments"
          ></card>

          <card
            *ngIf="category.value === categories.Personal"
            [socialNetworks]="socialNetworksPersonals"
          ></card>

          <card
            *ngIf="category.value === categories.Professional"
            [socialNetworks]="socialNetworksProfessionals"
          ></card>
        </div>
      </div>
    </div>
  </div>
</div>
