<div class="row align-items-center text-center">
  <div class="col-lg-6 col-md-6 col-sm-10 col-12 h-75 p-5">
    <img
      src="{{ profileImgPath }}"
      alt="Imagem de perfil"
      class="img-fluid img-thumbnail rounded-circle position-relative z-3 h-100"
    />
  </div>

  <div class="col-lg-6 col-md-6 col-sm-10 col-12">
    <div>{{ "HelloMyNameIs" | translate }} Eduardo Córdova</div>

    <div class="vr"></div>

    <div>
      {{
        "ImAFullStackDeveloperAndHereYouCanFindAllMySocialNetworks" | translate
      }}
    </div>

    <div class="vr"></div>

    <div>{{ "FeelFreeToCallMe!" | translate }}</div>
  </div>
</div>
